/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
body {
  background-color: #232323;
  color: white;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

body,
p,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  align-items: flex-start;
  max-width: 550px;
  margin: 0 auto;
}

.square {
  width: 150px;
  height: 125px;
  background: purple;
  padding-bottom: 16px 16px;
  margin: 10px;
}
