body {
  margin: 0;

  #header-container {
    background-color: $blue;
    color: white;
    margin: 0;
    text-align: center;
    padding: 1em 1em;
  }
  #header {
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
  }
  #color-display {
    font-size: 150%;
    font-weight: $header-font-weight;
  }
  #stripe {
    background: white;
    height: 4em;
    text-align: center;
  }
  #message {
    display: inline-block;
    width: 20%;
  }
}

@media screen and (max-width: 550px){
  body {
    #header-container {
      font-size: 1.2rem;
    }
    #color-display {
      font-size: 118%;
    }
    #message {
      font-size: 1.4rem;
      width: 20%;
    }
  }
}
