.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  align-items: flex-start;
  max-width: 550px;
  margin: 0 auto;
}




.square {
  width: 150px;
  height: 125px;
  background: purple;
  padding-bottom: 16px 16px;
  margin: 10px;
}
